<configuration>
    <!-- Appender for console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern> <!-- Just the message -->
        </encoder>
    </appender>

    <!-- Only log ERROR level by default -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Serenity BDD logs -->
    <logger name="net.serenitybdd" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
